fastapi==0.116.1
numpy==1.26.4
openai==1.97.1
pandas==2.2.2
pydantic==2.6.4
PyJWT==2.10.1
python-Levenshtein==0.27.1
PyYAML==6.0.2
requests==2.32.4
scikit-learn==1.7.1
SQLAlchemy==2.0.41
starlette==0.47.2
uvicorn==0.35.0
alembic==1.14.0
pymysql==1.1.0
cryptography==41.0.7
json_repair==0.51.0
tiktoken==0.11.0
datasets==4.1.1
transformers~=4.50.3
geopy~=2.4.1
tqdm~=4.67.1
fuzzywuzzy~=0.18.0
jsonschema~=4.25.1
pytest~=8.4.2
